* {
  margin: 0;
}

body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  background-color: #1B244A;
  ;
  width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 40px 40px 80px 40px;
}

.container h3 {
  font-family: "Verdana";
  font-weight: 700;
  font-size: 40px;
  color: #eeeeee;
  margin-bottom: 0;
}

.score {
  font-family: "Cursed Timer ULiL";
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  color: #f94f6d;
  background-color: #080001;
  padding: 20px 30px 5px 25px;
  width: 100px;
  margin: 10px 0;
  border-radius: 5px;
}

.points {
  display: flex;
  justify-content: space-around;
}

.points p {
  font-family: "Cursed Timer ULiL";
  font-weight: 400;
  font-size: 18px;
  color: #9aabd8;
  padding: 9px;
  border: 2px solid #9aabd8;
  border-radius: 5px;
  margin-top: 10px;
}

.points p:hover {
    cursor: pointer;
}